<style>
p{
    font-size: 14px;
    margin: 0;
}
h3{
    margin: 10px 0 5px 0;
}
.originCountry{
    color:#68686d;
}
.foodDetail{
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10% 0 0 0;
}
</style>
<div class="container foodDetail">
    <div class="row">
        <div class="col-sm-12">
            <img src="./life1.jpg" alt="foodImage" class="img-fluid img-thumbnail">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Name of dish</h3>
            <p class="originCountry">Origin country</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, reiciendis!</p>
        </div>
    </div>
</div>